## Descripcion
Este codigo consiste en realizar un ETL de los datos de la carpeta 'ignore':
1-Extraccion: Importa 4 datasets correspondientes a los titulos por plataforma y 8 datasets correspondientes a las puntuaciones de titulos por usuario.
2-Transformacion: se realizan 3 transformaciones
    a) Actor: Busca encontrar el actor que mas se repite por plataforma y por anio.
    b) All: Busca unificar los titulos de las 4 plataformas para unificar las consultas en un dataset 'All'.
    c) Score: Busca unificar las puntuaciones de titulos para consultas de score en un unico dataset 'Score'. 
3-Carga: Exporta los dataframes a los siguientes archivos:
    a) All => all.csv
    b) Score => score.csv
    c) Score => score.parquet
    d) Cast => cast.csv

## Extraccion

In [7]:
import pandas as pd
import numpy as np

In [6]:
# Titles
Amazon = pd.read_csv("ignore/amazon_prime_titles.csv")
Disney = pd.read_csv("ignore/disney_plus_titles.csv")
Hulu = pd.read_csv("ignore/hulu_titles.csv")
Netflix = pd.read_csv("ignore/netflix_titles.csv")

In [8]:
# Scores
a = pd.read_csv("ignore/ratings/1.csv")
b = pd.read_csv("ignore/ratings/2.csv")
c = pd.read_csv("ignore/ratings/3.csv")
d = pd.read_csv("ignore/ratings/4.csv")
e = pd.read_csv("ignore/ratings/5.csv")
f = pd.read_csv("ignore/ratings/6.csv")
g = pd.read_csv("ignore/ratings/7.csv")
h = pd.read_csv("ignore/ratings/8.csv")

In [9]:
print('Amazon')
print('Duplicates:',Amazon.duplicated().any())
print('Files, Columns:',Amazon.shape)
print(Amazon.isnull().sum())
Amazon.tail(3)

Amazon
Tiene duplicados: False
Filas, Columnas: (9668, 12)
show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [53]:
print('Disney')
print('Duplicates:',Disney.duplicated().any())
print('Files, Columns:',Disney.shape)
print(Disney.isnull().sum())
Disney.tail(3)

Disney
Tiene duplicados: False
Filas, Columnas: (1450, 12)
show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [5]:
print('Hulu')
print('Duplicates:',Hulu.duplicated().any())
print('Files, Columns:',Hulu.shape)
print(Hulu.isnull().sum())
Hulu.tail(3)

Hulu
Tiene duplicados: False
Filas, Columnas: (3073, 12)
show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [6]:
print('Netflix')
print('Duplicates:',Netflix.duplicated().any())
print('Files, Columns:',Netflix.shape)
print(Netflix.isnull().sum())
Netflix.tail(3)

Netflix
Tiene duplicados: False
Filas, Columnas: (8807, 12)
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

## Transformacion Actor

In [10]:
# Creo un dataframe target con platform, year, actor, appear
target = pd.DataFrame(columns=['actor','appear','platform','year']) # Crea el dataframe target
D = Disney['cast'].dropna()
actors = pd.Series(D.str.split(',').sum())
target['actor'] = actors                    # Agrego los actores
appear = actors.value_counts()              # Cuento las apariciones
target.nunique()
# Debo completar la columna appear con la serie appear, pero tienen distinta longitud
# appear = 4044 y actor = 5583 porque los actores aparecen repetidos

actor       4057
appear         0
platform       0
year           0
dtype: int64

In [97]:
# target.set_index('actor',inplace=True)
target['appear'] = appear.index.map(appear)
target

ValueError: Length of values (4044) does not match length of index (5884)

In [80]:
D = Disney['cast'].dropna()
actors = pd.Series(D.str.split(',').sum())
appear = actors.value_counts()
appear

 Jim Cummings        24
 Corey Burton        15
Walt Disney          15
 Keith Ferguson      14
 Tress MacNeille     14
                     ..
Quincy Dunn-Baker     1
Mark Keller           1
Tom Bergeron          1
 Bret Iwan            1
Charlie Tahan         1
Length: 4044, dtype: int64

In [67]:
# elimino valores nulos de 'date_added'
Disney.dropna(subset = ['date_added'], inplace=True)
Disney.isna().sum()

show_id           0
type              0
title             0
director        470
cast            190
country         219
date_added        0
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [76]:
D = Disney['cast'].dropna()
# H.tail()
actors = pd.Series(D.str.split(',').sum())
# encontrar la palabra más repetida
most_common_word = actors.value_counts().index[0]
actors

0        Chris Diamantopoulos
1                Tony Anselmo
2             Tress MacNeille
3                 Bill Farmer
4                Russi Taylor
                ...
5879     Jonathan Rhys-Meyers
5880              Anupam Kher
5881           Archie Panjabi
5882            Shaznay Lewis
5883            Charlie Tahan
Length: 5884, dtype: object

In [70]:
Disney.isna().sum()

show_id           0
type              0
title             0
director        470
cast            190
country         219
date_added        0
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [18]:
N = Netflix['cast'].dropna()
# N.tail()
actors = pd.Series(N.str.split(',').sum())
# encontrar la palabra más repetida
most_common_word = actors.value_counts().index[0]
most_common_word

' Anupam Kher'

## Transformacion All

In [21]:
# Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, 
# seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)
id_A = 'a' + Amazon['show_id']
Amazon.insert(0, 'id', id_A)
Amazon.insert(1, 'platform', 'amazon')

id_D = 'd' + Disney['show_id']
Disney.insert(0, 'id', id_D)
Disney.insert(1, 'platform', 'disney')

id_H = 'h' + Hulu['show_id']
Hulu.insert(0, 'id', id_H)
Hulu.insert(1, 'platform', 'hulu')

id_N = 'n' + Netflix['show_id']
Netflix.insert(0, 'id', id_N)
Netflix.insert(1, 'platform', 'netflix')

In [23]:
All = pd.concat([Amazon,Disney,Hulu,Netflix], axis=0).reset_index()
print('All platforms')
print('Files, Columns:',All.shape)
print(All.isnull().sum())
All.tail(3)

All platforms
Files, Columns: (22998, 15)
index               0
id                  0
platform            0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
dtype: int64

,index,id,platform,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
22995,8804,ns8805,netflix,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
22996,8805,ns8806,netflix,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
22997,8806,ns8807,netflix,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [24]:
# Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”)
All['rating'].fillna('G',inplace=True)
print(All['rating'].isnull().sum())

0

In [25]:
# De haber fechas, deberán tener el formato AAAA-mm-dd
All['date_added'] = pd.to_datetime(All['date_added'])
All.tail(3)

,index,id,platform,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
22995,8804,ns8805,netflix,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
22996,8805,ns8806,netflix,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
22997,8806,ns8807,netflix,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [26]:
# Los campos de texto deberán estar en minúsculas, sin excepciones
lowercase = lambda s:s.lower() if type(s) == str else s
All = All.applymap(lowercase)

In [27]:
# El campo duration debe convertirse en dos campos: duration_int y duration_type. 
# El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)
All[['duration_int','duration_type']] = All['duration'].str.split(' ', expand=True)
All.drop(columns=['duration'], inplace=True)
headers = list(All.columns)
print(headers)          # Print headers

['index', 'id', 'platform', 'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'listed_in', 'description', 'duration_int', 'duration_type']

In [28]:
All.nunique()

index             9668
id               22998
platform             4
show_id           9668
type                 2
title            22042
director         10095
cast             16744
country            886
date_added        2003
release_year       101
rating             105
listed_in         1687
description      22669
duration_int       225
duration_type        3
dtype: int64

In [29]:
All = All.reindex(columns=['id', 'platform', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'duration_int', 'duration_type', 'listed_in', 'description'])
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   platform       22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   duration_int   22516 non-null  object
 10  duration_type  22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 2.3+ MB

## Adecuacion

In [108]:
All.isnull().sum()

id                   0
platform             0
type                 0
title                0
director          8259
cast              5321
country          11499
date_added        9554
release_year         0
duration_int       482
duration_type      482
listed_in            0
description          4
dtype: int64

In [30]:
All['duration_int'] = All['duration_int'].fillna(0)
All['duration_int'] = All['duration_int'].astype(int)
All['release_year'] = All['release_year'].astype(int) 
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   platform       22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   duration_int   22998 non-null  int64
 10  duration_type  22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 2.3+ MB

In [31]:
All.nunique()

id               22998
platform             4
type                 2
title            22042
director         10095
cast             16744
country            886
date_added        2003
release_year       101
duration_int       225
duration_type        3
listed_in         1687
description      22669
dtype: int64

In [32]:
import collections
collections.Counter(All['duration_type'])

Counter({'min': 15999, 'season': 4183, 'seasons': 2334, nan: 482})

In [33]:
All['duration_type'] = All['duration_type'].replace('seasons','season')
collections.Counter(All['duration_type'])

Counter({'min': 15999, 'season': 6517, nan: 482})

In [34]:
Actor = All[['id', 'platform', 'cast', 'release_year']]
Actor

,id,platform,cast,release_year
0,as1,amazon,"brendan gleeson, taylor kitsch, gordon pinsent",2014
1,as2,amazon,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018
2,as3,amazon,"tom sizemore, lorenzo lamas, robert lasardo, r...",2017
3,as4,amazon,"interviews with: pink, adele, beyoncé, britney...",2014
4,as5,amazon,"harry dean stanton, kieran o'brien, george cos...",1989
...,...,...,...,...
22993,ns8803,netflix,"mark ruffalo, jake gyllenhaal, robert downey j...",2007
22994,ns8804,netflix,NaN,2018
22995,ns8805,netflix,"jesse eisenberg, woody harrelson, emma stone, ...",2009
22996,ns8806,netflix,"tim allen, courteney cox, chevy chase, kate ma...",2006
22997,ns8807,netflix,"vicky kaushal, sarah-jane dias, raaghav chanan...",2015

In [117]:
# A = All['cast'].dropna()
# actors = pd.Series(A.str.split(',').sum())
# # encontrar la palabra más repetida
# most_common_word = actors.value_counts().index[0]
# actors # hay un total de 114391 actores
# most_common_word

' anupam kher'

In [124]:
Actor.dropna(subset = ['cast'], inplace=True)
Actor.isna().sum()
print(Actor.shape)

(17677, 4)

In [125]:
# crear series de ejemplo
cast = Actor['cast']
actor = actors

# crear lista vacía para almacenar los resultados
results = []

# bucle para contar la cantidad de veces que cada valor de 'actor' aparece en 'cast'
for a in actor:
    count = cast.str.count(a).sum()
    results.append({'cast': cast.tolist(), 'actor': a, 'repite': count})

# crear dataframe a partir de la lista de resultados
df = pd.DataFrame(results)

error: missing ), unterminated subpattern at position 15

In [135]:
with open('data/cast.csv', 'r') as file:
    lines = file.readlines()
    clean_lines = [line.strip(" \n\r") for line in lines]
df = pd.Series([line.split(",") for line in clean_lines])
df

0                                                   [cast]
1        ["brendan gleeson,  taylor kitsch,  gordon pin...
2        ["mahesh manjrekar,  abhay mahajan,  sachin kh...
3        ["tom sizemore,  lorenzo lamas,  robert lasard...
4        ["interviews with: pink,  adele,  beyoncé,  br...
                               ...
17673    ["ali suliman,  saleh bakri,  yasa,  ali al-ja...
17674    ["mark ruffalo,  jake gyllenhaal,  robert down...
17675    ["jesse eisenberg,  woody harrelson,  emma sto...
17676    ["tim allen,  courteney cox,  chevy chase,  ka...
17677    ["vicky kaushal,  sarah-jane dias,  raaghav ch...
Length: 17678, dtype: object

In [134]:
cast.tail(20)

22977    lily o'regan, jeannettsy enriquez borges, joel...
22978    brely evans, andra fuller, persia white, porsc...
22979    lana baric, vojislav brajovic, natasa janjic, ...
22980    john lloyd cruz, sarah geronimo, rayver cruz, ...
22981    adam sandler, john turturro, emmanuelle chriqu...
22982    charlize theron, patton oswalt, patrick wilson...
22983    qiu yuen, charlie chin, jackie chan, hu chin, ...
22984    dennis quaid, rene russo, sean faris, katija p...
22985    nelly karim, hany adel, tarek abdel aziz, ahme...
22986    mike liscio, emily bauer, billy bob thompson, ...
22987    gökhan atalay, payidar tüfekçioglu, baran akbu...
22988    michael johnston, jessica gee-george, christin...
22989    adil hussain, mona singh, k.k. raina, sanjay m...
22990    santosh juvekar, siddharth chandekar, sachit p...
22991    sanam saeed, fawad khan, ayesha omer, mehreen ...
22992    ali suliman, saleh bakri, yasa, ali al-jabri, ...
22993    mark ruffalo, jake gyllenhaal, robert downey j...
22995    jesse eisenberg, woody harrelson, emma stone, ...
22996    tim allen, courteney cox, chevy chase, kate ma...
22997    vicky kaushal, sarah-jane dias, raaghav chanan...
Name: cast, dtype: object

In [128]:
actor

0                brendan gleeson
1                  taylor kitsch
2                 gordon pinsent
3               mahesh manjrekar
4                  abhay mahajan
                   ...
114387          manish chaudhary
114388              meghna malik
114389             malkeet rauni
114390            anita shabdish
114391     chittaranjan tripathy
Length: 114392, dtype: object

In [ ]:
# # crear series de ejemplo
# cast = pd.Series(['hola, mundo', 'hola, otra vez', 'adios, mundo', 'hola, amigos']) == Actors['cast']
# Actors['cast']
# actor = pd.Series(['hola','mundo']) == actors
# actors


# # crear lista vacía para almacenar los resultados
# results = [] == Actor['actor']

# # bucle para contar la cantidad de veces que cada valor de 'actors' aparece en 'Actors['cast']'
# for a in actors:
#     count = Actors['cast'].str.count(a).sum()
#     results.append({'cast': cast.tolist(), 'actor': a, 'repite': count})

# # crear dataframe a partir de la lista de resultados
# df = pd.DataFrame(results)

## Transformacion Score

In [60]:
# Unifica los dataset en Score
Score = pd.concat([a,b,c,d,e,f,g,h], axis=0).reset_index()
print('Score')
print('Files, Columns:',Score.shape)
# print(Score.isnull().sum())
Score.tail(3)

Score
Files, Columns: (11024289, 5)

            index  userId  rating   timestamp movieId
11024286  1499997  124380     3.5  1196785679   hs305
11024287  1499998  124380     4.5  1196787089  ns7881
11024288  1499999  124380     1.5  1196785847   as883

In [61]:
# Agrega las columnas year y platform, renombra rating a score
Score = Score.rename(columns={'rating':'score'})
Score['year'] = pd.to_datetime(Score['timestamp'], unit='s').dt.year
Score['platform'] = Score['movieId'].str[0]
# Score = Score[['platform','score','year','movieId']]
Score.tail(3)

            index  userId  score   timestamp movieId  year platform
11024286  1499997  124380    3.5  1196785679   hs305  2007        h
11024287  1499998  124380    4.5  1196787089  ns7881  2007        n
11024288  1499999  124380    1.5  1196785847   as883  2007        a

In [62]:
# Completa el nombre de las plataformas mediante una funcion
def get_initial(movieId:str):
    if movieId[0] == 'a':
        platform = 'amazon'
    elif movieId[0] == 'd':
        platform = 'disney'
    elif movieId[0] == 'h':
        platform = 'hulu'
    elif movieId[0] == 'n':
        platform = 'netflix'
    else: platform = '' 
    
    return platform

get_initial('as883')

# Aplicar la función a la columna 'nombre' para crear la columna 'inicial'
Score['platform'] = Score['platform'].apply(get_initial)
Score.drop(columns='index',inplace=True)
Score.head(3)

   userId  score   timestamp movieId  year platform
0       1    1.0  1425941529   as680  2015   amazon
1       1    4.5  1425942435  ns2186  2015  netflix
2       1    5.0  1425941523  hs2381  2015     hulu

In [63]:
# Reduce la cantidad de columnas
Score = Score[['userId','score','movieId','year','platform']]
Score

          userId  score movieId  year platform
0              1    1.0   as680  2015   amazon
1              1    4.5  ns2186  2015  netflix
2              1    5.0  hs2381  2015     hulu
3              1    5.0  ns3663  2015  netflix
4              1    5.0  as9500  2015   amazon
...          ...    ...     ...   ...      ...
11024284  124380    4.5  ns5272  2007  netflix
11024285  124380    2.5  ns5492  2007  netflix
11024286  124380    3.5   hs305  2007     hulu
11024287  124380    4.5  ns7881  2007  netflix
11024288  124380    1.5   as883  2007   amazon

[11024289 rows x 5 columns]

In [42]:
# Score['score'].mean()
# pd.Series({'score': Score['score'].mean()})

score    3.533455
dtype: float64

In [43]:
# Definir una función de agregación que calcule el promedio del score
# def rating_avg(Score):
#     return pd.Series({'score': Score['score'].mean()})

# Agrupar los datos por movieID y aplicar la función de agregación
# Score.groupby('movieId').agg(rating_avg)
# Score.groupby('movieId').agg(pd.Series({'score': Score['score'].mean()}))
S = Score.groupby('movieId').agg(pd.Series({'score': 'mean'}))
S.describe()

/var/folders/qr/g6x89n_d48j570j5qt_7mrhr0000gn/T/ipykernel_86147/3342074180.py:8: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S = Score.groupby('movieId').agg(pd.Series({'score': 'mean'}))

              score
count  22998.000000
mean       3.533443
std        0.048564
min        3.336478
25%        3.500000
50%        3.533673
75%        3.567000
max        3.724512

In [ ]:
# def weighted_mean(group):
#     scores = group["score"]
#     weights = group["rating_count"]
#     return np.average(scores, weights=weights)

# Score.groupby("movieId").agg(weighted_mean)

In [ ]:
# import numpy as np

# def weighted_mean(df):
#     return np.average(df['score'], weights=df['weight'])

# # Score.groupby('movieId').agg({'score': weighted_mean(Score)})
# Score.groupby('movieId').agg({'score': lambda x: weighted_mean(x)})

In [46]:
All.head()

,id,platform,type,title,director,cast,country,date_added,release_year,duration_int,duration_type,listed_in,description
0,as1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,113,min,"comedy, drama",a small fishing village must procure a local d...
1,as2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,110,min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,69,min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...

In [47]:
Score

          userId  score   timestamp movieId  year platform
0              1    1.0  1425941529   as680  2015   amazon
1              1    4.5  1425942435  ns2186  2015  netflix
2              1    5.0  1425941523  hs2381  2015     hulu
3              1    5.0  1425941546  ns3663  2015  netflix
4              1    5.0  1425941556  as9500  2015   amazon
...          ...    ...         ...     ...   ...      ...
11024284  124380    4.5  1196786159  ns5272  2007  netflix
11024285  124380    2.5  1196786030  ns5492  2007  netflix
11024286  124380    3.5  1196785679   hs305  2007     hulu
11024287  124380    4.5  1196787089  ns7881  2007  netflix
11024288  124380    1.5  1196785847   as883  2007   amazon

[11024289 rows x 6 columns]

## Carga

In [45]:
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   platform       22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   duration_int   22998 non-null  int64
 10  duration_type  22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 2.3+ MB

In [53]:
Score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11024289 entries, 0 to 11024288
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int32
 1   score      int8
 2   timestamp  int64
 3   movieId    object
 4   year       int64
 5   platform   object
dtypes: int32(1), int64(2), int8(1), object(2)
memory usage: 389.0+ MB

In [64]:
Score['userId'].max()

270896

In [65]:
All['platform'] = All['platform'].astype(str)
All['type'] = All['type'].astype(str)
All['title'] = All['title'].astype(str)
All['director'] = All['director'].astype(str)
All['cast'] = All['cast'].astype(str)
All['country'] = All['country'].astype(str)
All['type'] = All['type'].astype(str)
All['title'] = All['title'].astype(str)
All['director'] = All['director'].astype(str)
All['release_year'] = All['release_year'].astype(np.int16)
All['duration_int'] = All['duration_int'].astype(np.int16)
All['listed_in'] = All['listed_in'].astype(str)
All['description'] = All['description'].astype(str)

Score['userId'] = Score['userId'].astype(np.int32)
Score['score'] = Score['score'].astype(np.int8)
Score['platform'] = Score['platform'].astype(str)

In [56]:
Score.head()

   userId  score   timestamp movieId  year platform
0       1      1  1425941529   as680  2015   amazon
1       1      4  1425942435  ns2186  2015  netflix
2       1      5  1425941523  hs2381  2015     hulu
3       1      5  1425941546  ns3663  2015  netflix
4       1      5  1425941556  as9500  2015   amazon

In [29]:
All.to_csv('data/all.csv', index=False)

In [66]:
Score.to_csv('ignore/score.csv', index=False) 
# Da un archivo de 300Mb

In [107]:
S.to_csv('data/score_mean.csv', index=False)

In [127]:
cast.to_csv('data/cast.csv', index=False)

In [67]:
# Convierte score.csv en score.parquet para reducir el tamanio del archivo
score = pd.read_csv('ignore/score.csv')
score.to_parquet('data/score.parquet')