## Descripcion

Este codigo consiste en realizar un ETL de los datos de la carpeta 'ignore':  
1-Extraccion: Importa 4 datasets CSV correspondientes a los titulos por plataforma y 8 datasets CSV correspondientes a las puntuaciones de titulos por usuario.  
2-Transformacion: se realizan 2 transformaciones  
    a) All: Busca unificar los titulos de las 4 plataformas para unificar las consultas en un dataset 'All'.  
    b) Score: Busca unificar las puntuaciones de titulos para consultas de score en un unico dataset 'Score'.   
3-Carga: Exporta los dataframes a los siguientes archivos:  
    a) All => all.parquet  
    b) Score => score.csv  
    c) Score => score.parquet  
    d) Cast => cast.csv

## Extraccion

Importa 4 datasets correspondientes a los titulos por plataforma y 8 datasets correspondientes a las puntuaciones de titulos por usuario.

In [56]:
import pandas as pd
import numpy as np

In [57]:
# Titles
Amazon = pd.read_csv("ignore/amazon_prime_titles.csv")
Disney = pd.read_csv("ignore/disney_plus_titles.csv")
Hulu = pd.read_csv("ignore/hulu_titles.csv")
Netflix = pd.read_csv("ignore/netflix_titles.csv")

In [93]:
# Scores
a = pd.read_csv("ignore/ratings/1.csv")
b = pd.read_csv("ignore/ratings/2.csv")
c = pd.read_csv("ignore/ratings/3.csv")
d = pd.read_csv("ignore/ratings/4.csv")
e = pd.read_csv("ignore/ratings/5.csv")
f = pd.read_csv("ignore/ratings/6.csv")
g = pd.read_csv("ignore/ratings/7.csv")
h = pd.read_csv("ignore/ratings/8.csv")

In [111]:
# Obtiene informacion
print('Amazon')
print('Duplicates:',Amazon.duplicated().any())
print('Files, Columns:',Amazon.shape)
print(Amazon.isnull().sum())
Amazon.tail(3)

Amazon
Duplicates: False
Files, Columns: (9668, 14)
id                 0
platform           0
show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

,id,platform,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
9665,as9666,amazon,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,as9667,amazon,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,as9668,amazon,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [ ]:
# Obtiene informacion
print('Disney')
print('Duplicates:',Disney.duplicated().any())
print('Files, Columns:',Disney.shape)
print(Disney.isnull().sum())
Disney.tail(3)

In [ ]:
# Obtiene informacion
print('Hulu')
print('Duplicates:',Hulu.duplicated().any())
print('Files, Columns:',Hulu.shape)
print(Hulu.isnull().sum())
Hulu.tail(3)

In [ ]:
# Obtiene informacion
print('Netflix')
print('Duplicates:',Netflix.duplicated().any())
print('Files, Columns:',Netflix.shape)
print(Netflix.isnull().sum())
Netflix.tail(3)

## Transformacion All

In [58]:
# Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, 
# seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)
id_A = 'a' + Amazon['show_id']
Amazon.insert(0, 'id', id_A)
Amazon.insert(1, 'platform', 'amazon')

id_D = 'd' + Disney['show_id']
Disney.insert(0, 'id', id_D)
Disney.insert(1, 'platform', 'disney')

id_H = 'h' + Hulu['show_id']
Hulu.insert(0, 'id', id_H)
Hulu.insert(1, 'platform', 'hulu')

id_N = 'n' + Netflix['show_id']
Netflix.insert(0, 'id', id_N)
Netflix.insert(1, 'platform', 'netflix')

In [59]:
All = pd.concat([Amazon,Disney,Hulu,Netflix], axis=0).reset_index()
print('All platforms')
print('Files, Columns:',All.shape)
print(All.isnull().sum())
All.head(3)

All platforms
Files, Columns: (22998, 15)
index               0
id                  0
platform            0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
dtype: int64

,index,id,platform,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,as1,amazon,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,1,as2,amazon,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,2,as3,amazon,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [60]:
# Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”)
All['rating'].fillna('G',inplace=True)
print(All['rating'].isnull().sum())

0

In [61]:
# De haber fechas, deberán tener el formato AAAA-mm-dd
All['date_added'] = pd.to_datetime(All['date_added'])
All.tail(3)

,index,id,platform,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
22995,8804,ns8805,netflix,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
22996,8805,ns8806,netflix,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
22997,8806,ns8807,netflix,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [62]:
# Los campos de texto deberán estar en minúsculas, sin excepciones
lowercase = lambda s:s.lower() if type(s) == str else s
All = All.applymap(lowercase)

In [63]:
# El campo duration debe convertirse en dos campos: duration_int y duration_type. 
# El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)
All[['duration_int','duration_type']] = All['duration'].str.split(' ', expand=True)
All.drop(columns=['duration'], inplace=True)
All.nunique()

index             9668
id               22998
platform             4
show_id           9668
type                 2
title            22042
director         10095
cast             16744
country            886
date_added        2003
release_year       101
rating             105
listed_in         1687
description      22669
duration_int       225
duration_type        3
dtype: int64

In [64]:
# Organiza las columnas
All = All.reindex(columns=['id', 'platform', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'duration_int', 'duration_type', 'listed_in', 'description'])
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   platform       22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   duration_int   22516 non-null  object
 10  duration_type  22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 2.3+ MB

In [ ]:
# Contabiliza valores nulos
All.isnull().sum()

In [ ]:
# Cantidad de valores unicos
All.nunique()

In [65]:
# Convierte a integer los valores numericos
All['duration_int'] = All['duration_int'].fillna(0)
All['duration_int'] = All['duration_int'].astype(int)
All['release_year'] = All['release_year'].astype(int) 
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   platform       22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   duration_int   22998 non-null  int64
 10  duration_type  22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 2.3+ MB

In [ ]:
All.nunique()

In [66]:
# VIsualiza que categorias de datos hay en duration_type
import collections
collections.Counter(All['duration_type'])

Counter({'min': 15999, 'season': 4183, 'seasons': 2334, nan: 482})

In [67]:
# Unifica seasons y season
All['duration_type'] = All['duration_type'].replace('seasons','season')
collections.Counter(All['duration_type'])

Counter({'min': 15999, 'season': 6517, nan: 482})

In [68]:
# Lista los encabezados
headers = list(All.columns)
print(headers)

['id', 'platform', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'duration_int', 'duration_type', 'listed_in', 'description']

In [69]:
# Organiza y reduce las columnas
All = All.reindex(columns=['id', 'platform', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'duration_int', 'duration_type', 'listed_in', 'description'])
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   platform       22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   duration_int   22998 non-null  int64
 10  duration_type  22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 2.3+ MB

In [49]:
# Opcion de guardar avance parcial cambiando switch a True (solo con carpeta ignore)
switch = False
if switch:
    All.to_csv('ignore/all_titles.csv', index=False)

## Transformacion Score

In [118]:
# Unifica los dataset en Score
Score = pd.concat([a,b,c,d,e,f,g,h], axis=0)
Score = Score.reset_index(drop=True)
print('Score')
print('Files, Columns:',Score.shape)
print(Score.isnull().sum())
Score.tail(3)

Score
Files, Columns: (11024289, 4)
userId       0
rating       0
timestamp    0
movieId      0
dtype: int64

          userId  rating   timestamp movieId
11024286  124380     3.5  1196785679   hs305
11024287  124380     4.5  1196787089  ns7881
11024288  124380     1.5  1196785847   as883

In [119]:
# Reemplaza timestamp por date, agrega la columna platform, renombra rating a score
Score = Score.rename(columns={'rating':'score'})                        # Renombra rating con score
Score['date'] = pd.to_datetime(Score['timestamp'], unit='s').dt.date    # Agrega columna date
Score.drop(columns='timestamp', inplace=True)                           # Elimina timestamp
Score['platform'] = Score['movieId'].str[0]                             # Agrega la columna platform
# Score = Score[['platform','score','year','movieId']]
Score.tail(3)

          userId  score movieId        date platform
11024286  124380    3.5   hs305  2007-12-04        h
11024287  124380    4.5  ns7881  2007-12-04        n
11024288  124380    1.5   as883  2007-12-04        a

In [120]:
# Completa el nombre de las plataformas mediante una funcion
def get_initial(movieId:str):
    if movieId[0] == 'a':
        platform = 'amazon'
    elif movieId[0] == 'd':
        platform = 'disney'
    elif movieId[0] == 'h':
        platform = 'hulu'
    elif movieId[0] == 'n':
        platform = 'netflix'
    else: platform = '' 
    
    return platform

get_initial('as883')

# Aplica la función a la columna 'platform' para reemplazar las iniciales con el nombre de la plataforma
Score['platform'] = Score['platform'].apply(get_initial)
Score.tail(2)

          userId  score movieId        date platform
11024287  124380    4.5  ns7881  2007-12-04  netflix
11024288  124380    1.5   as883  2007-12-04   amazon

In [128]:
# Reordena las columnas y elimina date
Score = Score[['userId','movieId','score','platform']]
Score.tail(2)

          userId movieId  score platform
11024287  124380  ns7881      4  netflix
11024288  124380   as883      1   amazon

In [115]:
# Definir una función de agregación que calcula los promedios del score y consulta valores estadisticos
S = Score.groupby('movieId').agg(pd.Series({'score': 'mean'}))
S.describe()

/var/folders/qr/g6x89n_d48j570j5qt_7mrhr0000gn/T/ipykernel_19921/3910267463.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S = Score.groupby('movieId').agg(pd.Series({'score': 'mean'}))

              score
count  22998.000000
mean       3.533443
std        0.048564
min        3.336478
25%        3.500000
50%        3.533673
75%        3.567000
max        3.724512

In [129]:
S.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22998 entries, as1 to ns999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   score   22998 non-null  float64
dtypes: float64(1)
memory usage: 359.3+ KB

## Carga

In [50]:
# Opcion de cargar avance parcial cambiando switch a True (solo con carpeta ignore)
switch = False
if switch:
    All = pd.read_csv('ignore/all_titles.csv', index=False)

In [51]:
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   platform       22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   duration_int   22998 non-null  int64
 10  duration_type  22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 2.3+ MB

In [88]:
Score.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11024289 entries, 0 to 1499999
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   score      float64
 2   timestamp  int64
 3   movieId    object
 4   year       int64
 5   platform   object
dtypes: float64(1), int64(3), object(2)
memory usage: 588.8+ MB

In [122]:
first_release = All['release_year'].min()
max_duration = All['duration_int'].max()
users = Score['userId'].max()
print(first_release,max_duration,users)

1920 601 270896

In [136]:

# All['platform'] = All['platform'].astype(str)
# All['type'] = All['type'].astype(str)
# All['title'] = All['title'].astype(str)
# All['director'] = All['director'].astype(str)
# All['cast'] = All['cast'].astype(str)
# All['country'] = All['country'].astype(str)
# All['type'] = All['type'].astype(str)
# All['title'] = All['title'].astype(str)
# All['director'] = All['director'].astype(str)
All['release_year'] = All['release_year'].astype(np.int16)
All['duration_int'] = All['duration_int'].astype(np.int16)
# All['listed_in'] = All['listed_in'].astype(str)
# All['description'] = All['description'].astype(str)

Score['userId'] = Score['userId'].astype(np.int32)
Score['score'] = Score['score'].astype(np.int8)
# Score['platform'] = Score['platform'].astype(str)

In [124]:
All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   platform       22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       22998 non-null  object
 5   cast           22998 non-null  object
 6   country        22998 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int16
 9   duration_int   22998 non-null  int16
 10  duration_type  22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22998 non-null  object
dtypes: datetime64[ns](1), int16(2), object(10)
memory usage: 2.0+ MB

In [125]:
Score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11024289 entries, 0 to 11024288
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   userId    int32
 1   movieId   object
 2   score     int8
 3   platform  object
dtypes: int32(1), int8(1), object(2)
memory usage: 220.8+ MB

In [ ]:
# All.to_csv('data/all.csv', index=False)

In [74]:
All.to_parquet('processed_data/titles.parquet')

In [ ]:
# Opcion de exportar csv de gran tamanio cambiando switch a True (solo con carpeta ignore)
switch = False
if switch:
    Score.to_csv('ignore/score.csv', index=False) 
# Da un archivo de 300Mb

In [ ]:
# S.to_csv('data/score_mean.csv', index=False)

In [126]:
# Convierte score.csv en score.parquet para reducir el tamanio del archivo
# Score = pd.read_csv('ignore/score.csv')
Score.to_parquet('processed_data/score.parquet')

In [137]:
S.to_parquet('processed_data/S.parquet')