## Descripcion

## Load Data

In [29]:
import pandas as pd

In [30]:
# Tratar luego con score.parquet
Score = pd.read_csv('ignore/score.csv')

In [31]:
Score.head(5)

   userId  score movieId  year platform
0       1      1   as680  2015   amazon
1       1      4  ns2186  2015  netflix
2       1      5  hs2381  2015     hulu
3       1      5  ns3663  2015  netflix
4       1      5  as9500  2015   amazon

In [32]:
All = pd.read_csv("data/all.csv")
print('All platforms')
print('Duplicates:',All.duplicated().any())
print('Files, Columns:',All.shape)
print(All.isnull().sum())
All

All platforms
Duplicates: False
Files, Columns: (22998, 13)
id                   0
platform             0
type                 0
title                0
director          8259
cast              5321
country          11499
date_added        9554
release_year         0
duration_int         0
duration_type      482
listed_in            0
description          4
dtype: int64

,id,platform,type,title,director,cast,country,date_added,release_year,duration_int,duration_type,listed_in,description
0,as1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,113,min,"comedy, drama",a small fishing village must procure a local d...
1,as2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,110,min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyonc√©, britney...",united states,2021-03-30,2014,69,min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,netflix,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,158,min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a..."
22994,ns8804,netflix,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,2,season,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g..."
22995,ns8805,netflix,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,88,min,"comedies, horror movies",looking to survive in a world taken over by zo...
22996,ns8806,netflix,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,88,min,"children & family movies, comedies","dragged from civilian life, a former superhero..."
22997,ns8807,netflix,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,111,min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...

## Queries

In [75]:
# Variables que tomar√°n el valor de los par√°metros de filtro de las queries.
platform = 'amazon'
type = 'movie'
rating = 3.5
year = 2014
duration_type = 'min'
# actor = 'gleeson'

In [71]:
# Pel√≠cula con mayor duraci√≥n con filtros opcionales de A√ëO, PLATAFORMA Y TIPO DE DURACI√ìN. 
# (la funci√≥n debe llamarse get_max_duration(year, platform, duration_type))
Q1 = All[(All['platform'] == platform) & (All['release_year'] == year) & (All['duration_type'] == duration_type)].sort_values(by = 'duration_int' , ascending=False)
Q1['title'].values[0]
# Q1['title'].iloc(0)
# Q1['title'][0]

'midnight thunderstorm for sleep 9 hours'

In [83]:
# Devuelve: El t√≠tulo del juego con la duraci√≥n m√°xima (str)

def get_max_duration(year:int, platform:str, duration_type:str): 
    All = pd.read_csv("data/all.csv")
    Q1 = All[(All['platform'] == platform) & (All['release_year'] == year) & (All['duration_type'] == duration_type)].sort_values(by = 'duration_int' , ascending=False)
    max_duration_title = Q1['title'].values[0]
    return max_duration_title
get_max_duration(year, platform, duration_type)

'midnight thunderstorm for sleep 9 hours'

'midnight thunderstorm for sleep 9 hours'

In [74]:
Q1

,id,platform,type,title,director,cast,country,date_added,release_year,duration_int,duration_type,listed_in,description
1673,as1674,amazon,movie,midnight thunderstorm for sleep 9 hours,mark knight,NaN,NaN,NaN,2014,541,min,special interest,our most popular ambient sleep video is a full...
4880,as4881,amazon,movie,killing eva braun,michael andres,"tracy baumbach, james maher, chadwick baumbach",NaN,NaN,2014,170,min,"drama, historical",director michael andres' third film: a bibliop...
4403,as4404,amazon,movie,aalo chhaya,anasuya samanta,"riya, riwk, soumitra chatterjee, anamika saha,...",NaN,NaN,2014,154,min,romance,aranya and his friends set out on an adventuro...
4422,as4423,amazon,movie,ami sudhu cheyechhi tomay,ashok pati,"ankush hazra, subhashree ganguly",NaN,NaN,2014,151,min,romance,"abhi, son of a rich business man loves bhoomik..."
7236,as7237,amazon,movie,cuckoo,raju murugan,"dinesh ravi, malavika nair, aadukalam murugado...",NaN,NaN,2014,149,min,romance,"tamizh and kodi, a visually impaired couple, u..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2751,as2752,amazon,movie,cso_testcase_32,ollie bartlett,"annie lennox, alfie boe, imelda may, laura wri...",NaN,NaN,2014,10,min,music videos and concerts,exclusive to amazon instant video and the firs...
3444,as3445,amazon,movie,9-minute yoga: guided meditation & visualization,mark knight,anne-marie newland,NaN,NaN,2014,10,min,special interest,"three sessions designed to help reduce stress,..."
2358,as2359,amazon,movie,ghost hour,nils skapƒÅns,NaN,NaN,NaN,2014,7,min,kids,"just like every other night, the ghost goes ou..."
3645,as3646,amazon,movie,conference call,john karas,john karas,NaN,NaN,2014,4,min,comedy,an it ant-worker in a small solitary office is...
1623,as1624,amazon,movie,monster truck counting for kids,les anas,"grandpa uppet, professor clunk",NaN,NaN,2014,3,min,kids,monster truck count from one to ten. count to ...

In [65]:
# Cantidad de pel√≠culas por plataforma con un puntaje mayor a XX en determinado a√±o 
# (la funci√≥n debe llamarse get_score_count(platform, scored, year))
# Score[(Score['platform'] == platform) & (Score['score'] >= rating) & (Score['year'] == year)].shape[0]
# Unificar promedio de score antes de aplicar este filtro
Score[(Score['platform'] == platform) & (Score['score'] >= rating) & (All['release_year'] == year)].shape[0]

193

In [63]:
# Cantidad de pel√≠culas por plataforma con filtro de PLATAFORMA. (La funci√≥n debe llamarse get_count_platform(platform))
def get_count_platform(platform:str):
    All = pd.read_csv("data/all.csv")
    All = All.loc[All['platform'] == platform]
    movies_platform = len(All.index)
    return movies_platform

get_count_platform(platform)

9668

In [67]:
# Actor que m√°s se repite seg√∫n plataforma y a√±o. (La funci√≥n debe llamarse get_actor(platform, year))
Q4_1 = All[(All['platform'] == platform) & (All['release_year'] == year)]   # Filtra por plataforma y anio
Q4_2 = Q4_1.assign(actor=Q4_1.cast.str.split(',')).explode('cast')          # Divide 'cast', crea y cuenta una fila por cada elemento.
Q4_3 = Q4_2.cast.value_counts()                                             

max_actor = Q4_3.index[0]                                                   # Obtiene el actor con m√°s apariciones y n√∫mero de apariciones
max_count = int(Q4_3.iloc[0])
Q4 = dict({'actor': max_actor, 'appearances': max_count})
Q4

{'actor': 'anne-marie newland', 'appearances': 5}

In [4]:
# import pandas as pd
# from pandasql import sqldf
# def get_longest(plataforma: str, duration_type: str, ano: int):
#     #Lectura de la base de datos:
#     df = pd.read_csv("data/all.csv")

#     #Defino las plataformas:
#     if plataforma == "amazon":
#         plat = "a%"
#     elif plataforma == "disney":
#         plat = "d%"
#     elif plataforma == "hulu":
#         plat = "h%"
#     elif plataforma == "netflix":
#         plat = "n%"
#     else:
#         return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. Recuerde escribir todo en min√∫sculas.")
    
#     #QUERY:
#     query = f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{ano}' and duration_type='{duration_type}' ORDER BY duration_int DESC LIMIT 1"
#     #Se guarda el resultado en una nueva variable, d√°ndole el formato sql:
#     result = sqldf(query)
    
    #Se verifica el contenido de la variable "result". En caso de no estar vac√≠o:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No se han encontrado peliculas.")

In [48]:
# Pel√≠cula con mayor duraci√≥n con filtros opcionales de A√ëO, PLATAFORMA Y TIPO DE DURACI√ìN. 
# (la funci√≥n debe llamarse get_max_duration(year, platform, duration_type))
def get_max_duration(year:int, platform:str, duration_type:str): 
    All = pd.read_csv("data/all.csv")
    # Aplicar filtros opcionales
    if year is not None:
        All = All.loc[All['release_year'] == year]
    if platform is not None:
        All = All.loc[All['platform'] == platform]
    if duration_type is not None:
        All = All.loc[All['duration_type'] == duration_type]

    # Encontrar la pel√≠cula con mayor duraci√≥n
    max_duration = All['duration_int'].max()
    max_duration_movie = All.loc[All['duration_int'] == max_duration, 'title'].iloc[0]

    # Devolver el resultado
    return max_duration_movie

In [45]:
All = pd.read_csv("data/all.csv")
All = All.loc[All['release_year'] == 2020]
All = All.loc[All['platform'] == 'amazon']
All = All.loc[All['duration_type'] == 'season']
All['duration_int'].max()

11

In [49]:
year = 2020
platform = 'amazon'
duration_type = 'season'
get_max_duration(year,platform,duration_type)

'my kitchen rules'

In [66]:
# Cantidad de pel√≠culas por plataforma con un puntaje mayor a XX en determinado a√±o 
# (la funci√≥n debe llamarse get_score_count(platform, scored, year))
def get_score_count(platform:str, scored:int, year:int):
    score = pd.read_csv('data/score.csv')
    score = score.loc[score['platf'] == platform]
    score =score.loc[score['score'] >= scored]
    score =score.loc[score['year'] == year]
    movies_scored = len(score.index)
    return movies_scored

In [67]:
get_score_count('n', 3, 2007)

142397

In [69]:
get_score_count('a', 1, 2020)

0

In [70]:
# Cantidad de pel√≠culas por plataforma con filtro de PLATAFORMA. (La funci√≥n debe llamarse get_count_platform(platform))
def get_count_platform(platform:str):
    All = pd.read_csv("data/all.csv")
    All = All.loc[All['platform'] == platform]
    movies_platform = len(All.index)
    return movies_platform

In [74]:
get_count_platform('disney')

1450

In [ ]:
# Actor que m√°s se repite seg√∫n plataforma y a√±o. (La funci√≥n debe llamarse get_actor(platform, year))
def get_actor(platform, year):
    All = pd.read_csv("data/all.csv")
    
    actor = ''
    return actor

## Carga

In [13]:
All.to_csv('data/all.csv', index=False)