## Descripcion

## Load Data

In [3]:
import pandas as pd

In [10]:
All = pd.read_csv("data/all.csv")

In [4]:
# Tratar luego con score.parquet
Score_CSV = pd.read_csv('ignore/score.csv')

In [5]:
Score = pd.read_parquet('data/score.parquet')

In [6]:
Score.head()

   userId  score movieId  year platform
0       1      1   as680  2015   amazon
1       1      4  ns2186  2015  netflix
2       1      5  hs2381  2015     hulu
3       1      5  ns3663  2015  netflix
4       1      5  as9500  2015   amazon

In [31]:
Score.head(5)

   userId  score movieId  year platform
0       1      1   as680  2015   amazon
1       1      4  ns2186  2015  netflix
2       1      5  hs2381  2015     hulu
3       1      5  ns3663  2015  netflix
4       1      5  as9500  2015   amazon

In [143]:
All = pd.read_csv("data/all.csv")
print('All platforms')
print('Duplicates:',All.duplicated().any())
print('Files, Columns:',All.shape)
print(All.isnull().sum())
All.tail(2)

All platforms
Duplicates: False
Files, Columns: (22998, 13)
id                   0
platform             0
type                 0
title                0
director          8259
cast              5321
country          11499
date_added        9554
release_year         0
duration_int         0
duration_type      482
listed_in            0
description          4
dtype: int64

,id,platform,type,title,director,cast,country,date_added,release_year,duration_int,duration_type,listed_in,description
22996,ns8806,netflix,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,88,min,"children & family movies, comedies","dragged from civilian life, a former superhero..."
22997,ns8807,netflix,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,111,min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...

## Queries

In [8]:
# Variables que tomarán el valor de los parámetros de filtro de las queries.
platform = 'amazon'
type = 'movie'
scored = 4
year = 2020
duration_type = 'min'

### Query 1

In [ ]:
# Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. 
# (la función debe llamarse get_max_duration(year, platform, duration_type))
# Q1 = All[(All['platform'] == platform) & (All['release_year'] == year) & (All['duration_type'] == duration_type)].sort_values(by = 'duration_int' , ascending=False)
# Q1['title'].values[0]

In [127]:
# Funcion Query 1
# Devuelve: Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. 
def get_max_duration(year:int, platform:str, duration_type:str): 
    All = pd.read_csv("data/all.csv")
    Q1 = All[(All['platform'] == platform) & (All['release_year'] == year) & (All['duration_type'] == duration_type)].sort_values(by = 'duration_int' , ascending=False)
    if len(Q1) > 0:
        result = Q1['title'].values[0] 
        return result
    else:
        return ("Not titles found with those parameters.")
    
get_max_duration(year, platform, duration_type)

'night sky with nature sounds with 432hz nature sound track for sleep'

### Query 2

In [140]:
# Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año 
# (la función debe llamarse get_score_count(platform, scored, year))
# Score[(Score['platform'] == platform) & (Score['score'] >= rating) & (Score['year'] == year)].shape[0]
# Unificar promedio de score antes de aplicar este filtro
# Score[(Score['platform'] == platform) & (Score['score'] >= scored) & (All['release_year'] == year)].shape[0]

517

In [11]:
Score[(Score['platform'] == platform) & (Score['score'] >= scored) & (All['release_year'] == year)].shape[0]

517

In [12]:
# Funcion Query 2
def get_score_count(platform, scored, year):
    All = pd.read_csv("data/all.csv")
    Score = pd.read_parquet('data/score.parquet')
    result = Score[(Score['platform'] == platform) & (Score['score'] >= scored) & (All['release_year'] == year)].shape[0]
    return result
      
get_score_count(platform, scored, year)

517

### Query 3

In [128]:
# Funcion Query 3
# Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))
def get_count_platform(platform:str):
    All = pd.read_csv("data/all.csv")
    All = All.loc[All['platform'] == platform]
    movies_platform = len(All.index)
    return movies_platform

get_count_platform(platform)

9668

### Query 4

In [146]:
# Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))
# Q4_1 = All[(All['platform'] == platform) & (All['release_year'] == year)]   # Filtra por plataforma y anio
# if len(Q1) > 0: 
#     Q4_2 = Q4_1.assign(actor=Q4_1.cast.str.split(',')).explode('cast')          # Divide 'cast', crea y cuenta una fila por cada elemento.
#     Q4_3 = Q4_2.cast.value_counts()  
#     max_actor = Q4_3.index[0]                                                   # Obtiene el actor con más apariciones y número de apariciones
#     max_count = int(Q4_3.iloc[0])
#     Q4 = dict({'actor': max_actor, 'appearances': max_count})
# else:
#     print("No actor found with those parameters.")

No actor found with those parameters.

In [148]:
# Funcion Query 4
def get_actor(platform:str, year:int):
    All = pd.read_csv("data/all.csv")
    Q4_1 = All[(All['platform'] == platform) & (All['release_year'] == year)]   # Filtra por plataforma y anio
    if len(Q4_1) > 0: 
        Q4_2 = Q4_1.assign(actor=Q4_1.cast.str.split(',')).explode('cast')          # Divide 'cast', crea y cuenta una fila por cada elemento.
        Q4_3 = Q4_2.cast.value_counts()  
        max_actor = Q4_3.index[0]                                                   # Obtiene el actor con más apariciones y número de apariciones
        max_count = int(Q4_3.iloc[0])
        Q4 = dict({'actor': max_actor, 'appearances': max_count})
        return Q4
    else:
        return ("No actor found with those parameters.")
    
get_actor(platform, year)

{'actor': 'anne-marie newland', 'appearances': 7}

In [123]:
# All = pd.read_csv("data/all.csv")
# All = All.loc[All['release_year'] == year]
# All = All.loc[All['platform'] == platform]
# All = All.loc[All['duration_type'] == duration_type]
# All['duration_int'].max()

540

In [149]:
# year = 2020
# platform = 'amazon'
# duration_type = 'season'
# get_max_duration(year,platform,duration_type)

'my kitchen rules'

## Carga

In [13]:
All.to_csv('data/all.csv', index=False)