## Descripcion

## Load Data

In [7]:
import pandas as pd

In [ ]:
# How create a function for filter columns?

In [8]:
All = pd.read_csv("data/all.csv")
print('All platforms')
print('Duplicates:',All.duplicated().any())
print('Files, Columns:',All.shape)
print(All.isnull().sum())
All

All platforms
Duplicates: False
Files, Columns: (22998, 13)
id                   0
platform             0
type                 0
title                0
director          8259
cast              5321
country          11499
date_added        9554
release_year         0
duration_int         0
duration_type      482
listed_in            0
description          4
dtype: int64

,id,platform,type,title,director,cast,country,date_added,release_year,duration_int,duration_type,listed_in,description
0,as1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,113,min,"comedy, drama",a small fishing village must procure a local d...
1,as2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,110,min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,69,min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,netflix,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,158,min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a..."
22994,ns8804,netflix,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,2,season,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g..."
22995,ns8805,netflix,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,88,min,"comedies, horror movies",looking to survive in a world taken over by zo...
22996,ns8806,netflix,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,88,min,"children & family movies, comedies","dragged from civilian life, a former superhero..."
22997,ns8807,netflix,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,111,min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...

## Queries

In [11]:
All.query("SELECT title, release_year, duration_int, duration_type FROM All WHERE id == 'as1' ORDER BY duration_int DESC LIMIT 1")

SyntaxError: invalid syntax (<unknown>, line 1)

In [4]:
import pandas as pd
from pandasql import sqldf
def get_longest(plataforma: str, duration_type: str, ano: int):
    #Lectura de la base de datos:
    df = pd.read_csv("data/all.csv")

    #Defino las plataformas:
    if plataforma == "amazon":
        plat = "a%"
    elif plataforma == "disney":
        plat = "d%"
    elif plataforma == "hulu":
        plat = "h%"
    elif plataforma == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. Recuerde escribir todo en minúsculas.")
    
    #QUERY:
    query = f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{ano}' and duration_type='{duration_type}' ORDER BY duration_int DESC LIMIT 1"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf(query)
    
    #Se verifica el contenido de la variable "result". En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No se han encontrado peliculas.")

In [5]:
get_longest('amazon', 'min', 2015)

ObjectNotExecutableError: Not an executable object: "SELECT title, release_year, duration_int, duration_type FROM df WHERE id like 'a%' and release_year='2015' and duration_type='min' ORDER BY duration_int DESC LIMIT 1"

In [48]:
# Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. 
# (la función debe llamarse get_max_duration(year, platform, duration_type))
def get_max_duration(year, platform, duration_type): 
    All = pd.read_csv("data/all.csv")
    # Aplicar filtros opcionales
    if year is not None:
        All = All.loc[All['release_year'] == year]
    if platform is not None:
        All = All.loc[All['platform'] == platform]
    if duration_type is not None:
        All = All.loc[All['duration_type'] == duration_type]

    # Encontrar la película con mayor duración
    max_duration = All['duration_int'].max()
    max_duration_movie = All.loc[All['duration_int'] == max_duration, 'title'].iloc[0]

    # Devolver el resultado
    return max_duration_movie

In [45]:
All = pd.read_csv("data/all.csv")
All = All.loc[All['release_year'] == 2020]
All = All.loc[All['platform'] == 'amazon']
All = All.loc[All['duration_type'] == 'season']
All['duration_int'].max()

11

In [49]:
year = 2020
platform = 'amazon'
duration_type = 'season'
get_max_duration(year,platform,duration_type)

'my kitchen rules'

In [ ]:
# Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año 
# (la función debe llamarse get_score_count(platform, scored, year))
def get_score_count(platform, scored, year):
    All = pd.read_csv("data/all.csv")
    All = All.loc[All['platform'] == platform]
    All = All.loc[All['score'] > scored]
    All = All.loc[All['release_year'] == year]
    movies_scored = All
    return movies_scored

In [ ]:
# Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))
def get_count_platform(platform)
    movies_platform = 0
    return movies_platform

In [ ]:
# Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))
def get_actor(platform, year)
    actor = ''
    return actor

## Carga

In [13]:
All.to_csv('data/all.csv', index=False)